<form>
    <label for="firstName">Nom : </label>
    <input type="text" formControleName="FistName" id="firstName" >

    <label for="lastName">Prénom : </label>
    <input type="text" formControleName="lastName" id="lastName" >

    <label for="email">Email : </label>
    <input type="text" formControleName="email" id="email" >

    <div formGroupName="addresse">
        <label for="email">Email : </label>
        <input type="text" formControleName="email" id="email" >

    </div>

    <label for="nom">Nom : </label>
    <input type="text" formControleName="lastName" id="nom" >



</form>
